.bodyfull{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}
.catpicture{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.catpicture3{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}
.title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin: 0px;
    padding-left: 10px;
    margin-bottom: 8px;
    margin-top: 8px;
}
.mutual{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: rgb(145, 145, 145);
    padding-left: 10px;
}
.mutualprofile{
    width: 25px;
    height: 25px;
    object-position: center ;
    object-fit: cover;
    border-radius: 50px;
}
.mutualfriend{
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 8px;
}
.add-friend-button {
    background-color: rgb(24, 119, 242);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 8px;
    margin-bottom: 10px;
}
.profile{
    padding: 8px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
}