        .title{
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            font-size: 50px;
            font-weight: 600;
            margin-bottom: 0px;
        }
        .discription{
            font-family: 'Montserrat', sans-serif;
            color: rgb(211, 203, 203);
            text-align: center;
            font-weight: 400;
            font-size: 35px0px;
            margin-top: 18px0px;
        }
        .underline{
            font-family: 'Montserrat', sans-serif;
            text-decoration: underline;
            text-decoration-thickness: 5%;
            cursor: pointer;
        }
        body{
            margin: 0px;
            padding: 0px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(https://images4.alphacoders.com/121/1210649.jpg);
            background-size: cover;
            height: 100vh;
        }
        .x{
            transition: font-size 1s,color 1s;
            cursor: pointer;
        }
        .x:hover{
            margin: 0px;
            font-size: 70px;
            color: rgb(199, 61, 27);
        }
        .link{
            color: black;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 35px;
            margin-top: 18px;
            transition: margin 1s;
        }
        @media screen and (max-width: 768px) {
            body {
                margin: 0px;
                padding: 0px;
                height: 100vh;
                background-position: center;
              background-image: url(https://images.hdqwalls.com/download/model-x-vl-1080x1920.jpg);
              background-repeat: no-repeat;
              background-size: cover;

            }

          }